.product-code {
	margin-bottom: 20px;
}

.product-count-large {
	/* centering */
	margin: 0 auto;
    text-align: center;
}

.product-count-large span {
    font-size: 120px;
    color: #999999;
}

.product-count {
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 gray;
    ime-mode: disabled;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */		 	
}